<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container px-4">
            <a class="navbar-brand" href="/">Users</a>
            <% if(cookie){ %>
                <a href="/logout" class="navbar-brand">Logout</a>
                <a href="/user-profile" class="navbar-brand">Profile</a>
            <% } else { %>
                <a href="/login" class="navbar-brand">Login</a>
            <% } %>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a href="/categories" class="nav-link">Categories</a></li>
                    <li class="nav-item"><a href="/products" class="nav-link">Products</a></li><br><br>
                </ul>
            </div>
        </div>
    </nav><br><br>
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                        class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form action="/save-user-role-permission" method="post">
                        <div class="divider d-flex align-items-center my-4">
                            <h2><%= title %></h2>
                        </div>
                        <input type="hidden" value="<%= userData.id %>" name="id">

                        <!-- Name input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example3">Name</label>
                            <input type="name" id="form3Example3" name="user_name" class="form-control form-control-lg" placeholder="Enter your name" value="<%= userData.name %>" readonly/>
                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example3">Email address</label>
                            <input type="email" id="form3Example3" name="user_email" class="form-control form-control-lg" placeholder="Enter a valid email address" value="<%= userData.email %>" readonly/>
                        </div>

                        <!-- Roles input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example3"><b>Roles</b></label><br>
                            <% final_data.forEach(function(role) { %>
                                <input type="checkbox" name="role_name" id="role_name" value="<%= role.role_id %>" <%= role.isRole ? 'checked' : '' %> ">
                                <label class="form-label" for="role_name"><%=role.role_name%></label>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example3"><b>Role Permission</b></label><br>
                                    <% role.permissions.forEach(function(permission) { %>
                                        <input type="checkbox" name="permission" id="permission" value="<%= role.role_id %>-<%= permission.permission_id %>" <%= permission.isActive ? 'checked' : '' %> ">
                                        <label class="form-label" for="permission"><%=permission.permission_name%></label>
                                    <% }); %>
                                </div>
                            <% }); %>
                        </div>


                        <!-- Password input -->
                        <div class="form-outline mb-3">
                            <input type="hidden" id="form3Example4" name="user_password" class="form-control form-control-lg" placeholder="Enter password" value="<%= userData.password %>"/>
                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="submit" class="btn btn-primary btn-lg">Update</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>