<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
                <div class="container px-4">
                    <a class="navbar-brand" href="/">Users</a>
                    <% if(cookie){ %>
                        <a href="/logout" class="navbar-brand">Logout</a>
                        <a href="/user-profile" class="navbar-brand">Profile</a>
                        <a href="/fetch-order" class="navbar-brand">Order</a>
                    <% } else { %>
                        <a href="/login" class="navbar-brand">Login</a>
                    <% } %>
                    <% if(role === '1'){ %>
                        <a href="/user-role-permission" class="navbar-brand">User Role Permission</a>
                        <a href="/return-orders-request" class="navbar-brand">Return orders</a>
                        <a href="/cancel-orders-request" class="navbar-brand">Cancel orders</a>
                    <% } %>
                    <% if(cookie && (role == 1 || role == 2)){ %><a href="/products/product/add-category" class="btn btn-sm btn-primary">Add Product</a><% } %>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item"><a href="/categories" class="nav-link">Categories</a></li>
                            <li class="nav-item"><a href="/products" class="nav-link">Products</a></li>
                            <li class="nav-item"><a href="/user/cart" class="nav-link">Cart</a></li><br><br>
                        </ul>
                    </div>
                </div>
            </nav><br><br>
            <br><br><h2><%= title %></h2>
            <div class="row">
            <% totalProduct.forEach(function(product){ %>
                <div class="card col-lg-6">
                    <h6>
                        <% product.product_images.forEach(function(image) { %>
                            <img src="http://localhost:5000/images/<%= image.product_image %>" alt="Image">
                        <% }); %>
                    </h6>
                    <h6><b>Product ID :</b> <%= product.product_id %></h6>
                    <h6><b>Category Name :</b> <%= product.cat_name %></h6>
                    <h6><b>Product Weight :</b> <%= product.product_wt %></h6>
                    <h6><b>Product Name :</b> <%= product.product_name %></h6>
                    <h6><b>Product SKU :</b> <%= product.product_sku %></h6>
                    <h6><b>Collection Name :</b> <%= product.collection_name %></h6>
                    <h6><b>Gross Weight :</b> <%= product.gross_wt %></h6>
                    <h6><b>Product Color :</b> <%= product.product_color %></h6>
                    <h6><b>Product Purity :</b> <%= product.product_purity %></h6>
                    <h6><b>Product Material Charges :</b> <%= product.product_mat_charge %></h6>
                    <h6><b>Huid Charges :</b> <%= product.huid_charges %></h6>
                    <h6><b>Certificate Charges :</b> <%= product.certificate_charges %></h6>
                    <h6><b>Total Charges :</b> <%= product.total_charges %></h6>
                    <a href="/products/product/add-to-cart/<%= product.product_id %>" class="btn btn-sm btn-primary">Add to cart</a><br>
                    <% if(cookie && role == 1){ %>
                        <a href="/products/edit-product/<%= product.product_id %>" class="btn btn-sm btn-primary">Edit</a><br>
                        <a href="/products/delete-product/<%= product.product_id %>" class="btn btn-sm btn-danger">Delete</a><br>
                    <% } %>
                </div>
                <% }) %>
            </div>
        </div>
    </body>
</html>