<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
                <div class="container px-4">
                    <a class="navbar-brand" href="/">Users</a>
                    <% if(cookie){ %>
                        <a href="/logout" class="navbar-brand">Logout</a>
                        <a href="/user-profile" class="navbar-brand">Profile</a>
                        <a href="/fetch-order" class="navbar-brand">Order</a>
                    <% } else { %>
                        <a href="/login" class="navbar-brand">Login</a>
                    <% } %>
                    <% if(cookie && (role == 1 || role == 2)){ %><a href="/products/product/add-category" class="btn btn-sm btn-primary">Add Product</a><% } %>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item"><a href="/categories" class="nav-link">Categories</a></li>
                            <li class="nav-item"><a href="/products" class="nav-link">Products</a></li>
                            <li class="nav-item"><a href="/user/cart" class="nav-link">Cart</a></li><br><br>
                        </ul>
                    </div>
                </div>
            </nav><br><br>
            <br><br><h2><%= title %></h2>
            <form action='/products' method="GET">
                <label for="search"><b>Search</b></label>
                <input type="text" name="search" id="search" placeholder="Search..."><br>
                <label for="filter"><b>Filter By</b></label>
                <select name="filter" class="filter">
                    <option value="">Select Category</option>
                    <% cat_names.forEach(function(cat_name) { %>
                        <option id="filter" name="filter" value="<%= cat_name.id %>"><%= cat_name.cat_name %></option>
                    <% }); %>
                </select>
                <button type="submit">Search</button>
            </form><br>
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>Product ID</th>
                        <th>Product Images</th>
                        <th>Category Name</th>
                        <th>Product Weight</th>
                        <th>Product Name</th>
                        <th>Product SKU</th>
                        <th>Collection Name</th>
                        <th>Gross Weight</th>
                        <th>Product Color</th>
                        <th>Product Purity</th>
                        <th>Product Material Charges</th>
                        <th>Huid Charges</th>
                        <th>Certificate Charges</th>
                        <th>Total Charges</th>
                    </tr>
                </thead>
                <tbody>
                    <% totalProduct.forEach(function(product) { %>
                        <tr>
                            <td><a href="/products/<%= product.product_id %>"><%= product.product_id %></a></td>
                            <td>
                                <% product.product_images.forEach(function(image) { %>
                                    <a href="http://localhost:5000/images/<%= image.product_image %>" target="_blank">Images</a>
                                <% }); %>
                            </td>
                            <td><%= product.cat_name %></td>
                            <td><%= product.product_wt %></td>
                            <td><%= product.product_name %></td>
                            <td><%= product.product_sku %></td>
                            <td><%= product.collection_name %></td>
                            <td><%= product.gross_wt %></td>
                            <td><%= product.product_color %></td>
                            <td><%= product.product_purity %></td>
                            <td><%= product.product_mat_charge %></td>
                            <td><%= product.huid_charges %></td>
                            <td><%= product.certificate_charges %></td>
                            <td><%= product.total_charges %></td>
                            <% if(product.quantity > 0) { %>
                                <td><a href="/products/product/add-to-cart/<%= product.product_id %>" class="btn btn-sm btn-primary">Add to cart</a><br></td>
                            <% } else { %>
                                <td>OUT OF STOCK</td>
                            <% } %>
                            <% if(cookie && role == 1){ %>
                                <td>
                                    <a href="/products/edit-product/<%= product.product_id %>" class="btn btn-sm btn-primary">Edit</a>
                                    <a href="/products/delete-product/<%= product.product_id %>" class="btn btn-sm btn-danger">Delete</a>
                                </td>
                            <% } %>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </body>
</html>